<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="..//static//css//login.css">
</head>

<body>

<div class="login-container">

    <h2>Login PROFESSOR</h2>

    <form action="/professor/login" method="post">

        <div class="input-group">
            <label for="usuario">Usuário</label>
            <input type="text" id="usuarioprof" name="usuario" required>
        </div>

        <div class="input-group">
            <label for="senha">Senha</label>
            <input type="password" id="senhaprof" name="senha" required>
        </div>

        <button type="submit">Entrar</button>
        <p>{{msg}}</p>
        <div class="input-group">
            <br>
            <a href="/professor/cadastrar">Cadastrar novo professor</a>
        </div>


    </form>

</div>

<div class="login-container">

    <h2>Login ALUNO</h2>
    <form action="/login" method="post">

        <div class="input-group">
            <label for="usuario">Usuário</label>
            <input type="text" id="usuarioaluno" name="usuario" required>
        </div>

        <div class="input-group">
            <label for="senha">Senha</label>
            <input type="password" id="senhaaluno" name="senha" required>
        </div>

        <button type="submit">Entrar</button>

    </form>
</div>

</body>
</html>